<div class="row blog-form">
  <%= form_with(model: blog, local: true) do |form| %>
    <% if blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

        <ul>
          <% blog.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <section class="aloop-card">
      <h2 class="text-center">Basic Information</h2>

      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="field">
        <%= form.label :teaser %>
        <%= form.text_field :teaser, class: "form-control" %>
      </div>

      <div class="row">
        <div class="col-12 col-sm-4 mt-3">
          <label>Subcategory</label>
          <% subcategory_collection = [] %>
          <% Subcategory.where(active: true).each do |sub| %>
            <% subcategory_collection << ["#{sub.name}", "#{sub.id}"] %>
          <% end %>
          <div class="row text-left">
            <div class="form-group col-12">
              <%= form.collection_select(:subcategory_id, Subcategory.where(active: true), :id, :name, prompt: true) %>
            </div>
          </div> <!-- row -->
        </div>

        <div class="col-12 col-sm-4 mt-3">
          <label>Lead Magnet</label>
          <% resource_collection = [] %>
          <% Resource.where(active: true).each do |lm| %>
            <% resource_collection << ["#{lm.title}", "#{lm.id}"] %>
          <% end %>
          <div class="row text-left">
            <div class="form-group col-12">
              <% if resource_collection != [] %>
                <%= form.collection_select(:resource_id, Resource.where(active: true), :id, :title, prompt: true) %>
              <% else %>
                <p>You should probably <%= link_to "add a lead magnet", new_resource_path %>, huh?</p>
              <% end %>
            </div>
          </div> <!-- row -->
        </div>

        <div class="col-12 col-sm-4 mt-3">
          <label>Author</label>
          <% author_collection = [] %>
          <% Spree::User.all.each do |author| %>
            <% if author.admin? %>
              <% author_collection << ["#{author.first_name} #{author.last_name}", "#{author.id}"] %>
            <% end %>
          <% end %>
          <div class="row text-left">
            <div class="form-group col-12">
              <%= form.collection_select(:author_id, Spree::User.where.not(bio: ""), :id, :first_name, prompt: true) %>
            </div>
          </div> <!-- row -->
        </div>

      </div> <!-- row -->
    </section>


    <section class="aloop-card">
      <h2 class="text-center">Images and Media</h2>

      <div class="row">
        <div class="field col-6">
          <%= form.label :image_url %>
          <%= form.text_field :image_url, class: "form-control" %>
        </div>

        <div class="field col-6">
          <label>Upload an Image</label>
          <br>
          <%= form.file_field :image %>
        </div>

        <div class="col-12">
          <p class="text-center"><em>You only need one image source (url or upload).  If both are present, the URL will be used.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <%= form.label "Pinterest Pin Url 1" %>
          <%= form.text_field :pin1, class: "form-control" %>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <%= form.label "Pinterest Pin Url 2" %>
          <%= form.text_field :pin2, class: "form-control" %>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <%= form.label "Pinterest Pin Url 3" %>
          <%= form.text_field :pin3, class: "form-control" %>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <%= form.label "Pinterest Pin Url 4" %>
          <%= form.text_field :pin4, class: "form-control" %>
        </div>
      </div> <!-- row -->

      <div class="field">
        <%= form.label "YouTube Embed Code" %>
        <%= form.text_field :video_url, class: "form-control" %>
      </div>


    </section>


    <section class="aloop-card">
      <h2 class="text-center">Blog and Publishing</h2>

      <div class="field">
        <label for="title">The Blog Itself</label>
        <%= form.text_area :body, class: "tinymce", rows: 20, style: "width: 100%" %>
        <%= tinymce :content_css => asset_path('application.css')%>
      </div>

      <div class="row">
        <div class="field col-sm-6">
          <%= form.check_box :published %>
          <%= form.label "Display on Site" %>
        </div>

        <div class="field col-sm-6">
          <%= form.label "Date Published" %>
          <br>
          <%= form.datetime_field :published_at %>
        </div>
      </div> <!-- row -->
    </section>


    <div class="actions text-center">
      <%= form.submit class: "btn" %>
    </div>
  <% end %>

</div> <!-- row -->





<script>
  $(document).ready(function() {
    tinymce.init({
      selector: "textarea.tinymce",  // change this value according to your HTML
    });
  });
</script>
