<header
  class="bgimage"
  style="background: url(<%= asset_url("tiretracks.jpg") %>); height: 200px">
</header>

<div class="background-white py-5">

  <header class="container text-center">
    <h1>
      <%= @subcategory.name %>
      <% if current_spree_user && current_spree_user.admin? && !@subcategory.active %>INACTIVE<% end %>
    </h1>
    <%= @subcategory.description %>

  </header> <!-- info row -->



  <section class="container pt-5 pb-3">
    <h2 class="text-center">Blogs</h2>
    <div class="row">
      <% Blog.all.each do |blog| %>
        <% sub = blog.subcategory %>
        <% if sub == @subcategory %>
          <%= render partial: "layouts/blog_card", locals: { blog: blog } %>
        <% end %>
      <% end %>
    </div> <!-- row -->
  </section>




  <section class="container pt-5 pb-3">
    <h2 class="text-center">Resources</h2>
    <div class="row">
      <% Resource.all.each do |resource| %>
        <% sub = resource.subcategory %>
        <% if sub == @subcategory %>
          <%= render partial: "layouts/resource_card", locals: { resource: resource } %>
        <% end %>
      <% end %>
    </div> <!-- row -->
  </section>



</div> <!-- container -->
