<div class="menu-buffer"></div>


<header class="pb-3 text-center container">
	<p class="text-right" style="padding: 10px 20px 0 0"><%= link_to "Back to Kits Page", home_kits_path %></p>
	<h2>Aloop XR600 / XR650L Motocross&nbsp;Rear&nbsp;Fenders</h2>
	<%= link_to "Buy Now", spree_path, class: "btn cta" %>
</header>  <!-- center text no bg -->



<section class="shadow-top background-white">

	<div class="black-border-row justify-content-center row">
		<div class="mini-pictures">
			<a href="#popup-1" class="open-popup-link">
				<%= image_tag "fender_2.jpg", alt: "Aloop XR600/XR650L Rear Fender" %>
			</a>
			<a href="#popup-2" class="open-popup-link">
				<%= image_tag "fender_2_2.jpg", alt: "Aloop XR600/XR650L Rear Fender", class: "mini-pictures mini-picture-1" %>
			</a>
		</div> <!-- mini-pictures -->
	</div> <!-- black border row -->

</section> <!-- image row -->





<section class="text-center py-5 container">
	<h3>Fits all Honda <strong>XR600R</strong> (1985-2000), <strong>XR650L</strong> (1993-2014), <strong>XR250R</strong> (1986-1995), <strong>XR250L</strong> (1991-1996), and <strong>XR350R</strong> (1985).</h3>
</section> <!-- center text no bg -->





<section class="shadow-top background-white py-4">
	<div class="row product-row">
		<div class="container">

			<p>These high quality injection molded fenders will give your XR an aggressive, modern look. They are made to match a CR-style fender profile, yet they mate perfectly with that difficult to fit XR under-fender and subframe.</p>

			<p>Easily trimmed shorter for Supermoto applications, these fenders also fit numerous earlier XRs as well as the more current machines.  Available in Black, White, Orange, Bright Red or Fighting Red.</p>

			<div class="text-center">
				<h1><strong>All fenders are now available online!</strong></h1>

				<div class="row text-center justify-contents-center">
					<div class="col-sm-4 col-lg-2 mb-3">
						<p>
							<strong>Rear Fender 600, Black</strong>
							<br>Aloop Part #072-200bk
							<br>Maier Part #12305
							<br><strong>Price: $59.95</strong>
						</p>
						<%= link_to "Buy Now", spree_path, class: "btn cta" %>
					</div> <!-- column -->

					<div class="col-sm-4 col-lg-2 mb-3">
						<p>
							<strong>Rear Fender 600, Fighting Red</strong>
							<br>Aloop Part #072-200fird
							<br>Maier Part #12305
							<br><strong>Price: $59.95</strong>
						</p>
						<%= link_to "Buy Now", spree_path, class: "btn cta" %>
					</div> <!-- column -->

					<div class="col-sm-4 col-lg-2 mb-3">
						<p>
							<strong>Rear Fender 600, White</strong>
							<br>Aloop Part #072-200wh
							<br>Maier Part #12305
							<br><strong>Price: $59.95</strong>
						</p>
						<%= link_to "Buy Now", spree_path, class: "btn cta" %>
					</div> <!-- column -->

					<div class="row visible-xs visible-sm visible-md">
						<hr class="col-sm-6 col-sm-push-3">
					</div>

					<div class="col-sm-4 col-lg-2 mb-3">
						<p>
							<strong>Rear Fender 600, Orange</strong>
							<br>Aloop Part #072-200org
							<br>Maier Part #12305
							<br><strong>Price: $59.95</strong>
						</p>
						<%= link_to "Buy Now", spree_path, class: "btn cta" %>
					</div> <!-- column -->

					<div class="col-sm-4 col-lg-2 mb-3">
						<p>
							<strong>Rear Fender 600, Bright Red</strong>
							<br>Aloop Part #072-200brrd
							<br>Maier Part #12305
							<br><strong>Price: $59.95</strong>
						</p>
						<%= link_to "Buy Now", spree_path, class: "btn cta" %>
					</div> <!-- column -->

				</div> <!-- row inner -->
			</div> <!-- text center row outer -->

		</div> <!-- row -->
	</div> <!-- container -->
</section> <!-- fenders -->







<section class="py-4">
	<div class="container">
		<%= render "home/cta" %>
	</div>
</section> <!-- image row -->



<p class="text-center"><%= link_to "Back to Kits Page", home_kits_path %></p>





<script type="text/javascript">
	$('.open-popup-link').magnificPopup({
	  type:'inline',
	  midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
	});
</script>

<div id="popup-1" class="image-popup mfp-hide text-center">
  <%= image_tag "fender_1.jpg", alt: "Aloop XR600/XR650L Rear Fender", class: "popup-picture" %>
</div>

<div id="popup-2" class="image-popup mfp-hide text-center">
  <%= image_tag "fender_1_2.jpg", alt: "Aloop XR600/XR650L Rear Fender", class: "popup-picture" %>
</div>
