<header class="bgimage" style="background: url(<%= asset_url("polaris_6.jpg") %>)">
  <div class="index-only-text bottom-shadow w-100">
    <div class="container py-3">
      <h3>"The Honda that Honda should have built..."</h3>
    </div> <!-- container -->
  </div> <!-- index text row -->
</header>



<section class="row text-center py-5">
	<div class="container">
		<h2>No other single modification can give you such an immediate gain in handling, performance, and&nbsp;style!</h2>
    <%= link_to "See Our Customer Photos", photos_path, class: "btn cta" %>
	</div> <!-- container -->
</section> <!-- row -->



<section class="background-white shadow-top bottom-shadow py-5">
  <div class="container">
    <div class="row">

  		<div class="col-sm-6">
  			<h3>A Totally New Concept.</h3>
  			<p>“The Honda that Honda should have built” Aloop's 4SMX tank/seat kit is a totally new concept in Motocross racing accessories. This kit features a smaller than stock 2.0 gallon plastic fuel tank, a new seat based around the CR250 style seating position, and it utilizes shrouds from a CR to enhance engine cooling and overall style.</p>
  		</div> <!-- column -->

  		<div class="col-sm-6">
  			<h3>Ready to Bolt On.</h3>
  			<p>The Aloop 4SMX Kit uses your stock petcock, fuel cap and mounting hardware. The new tank includes a right side petcock for better fuel flow. Total fuel capacity is only .8 gallons less than stock, but in a greatly improved ergonomics package. A great looking Aloop graphics set and non-slip seat cover round out the kit. All parts made in the USA. Get one and go fast!</p>
  		</div> <!-- column -->


  		<div class="col-12">
  			<h3>No “Humpback” Seat Like the Awkward Stock Setup.</h3>
  			<p>With the Aloop 4SMX kit, the rider can sit a full 3" further forward on the narrow, flat seat, without encountering the awkward hump of the stock setup. The new fuel tank is 3" narrower than stock tank, and the new seat places the rider 3/4" higher as well for a greatly improved ergonomic feel. CR250 style radiator shrouds direct cooling air to the engine, and provide a place for mounting of additional oil coolers. Best of all, the new fuel tank is dramatically slimmer, and riders will find it much easier to grip the tank in the rough sections. This improves the handling and you will easily ride your machine faster. A Motocross Seat Tank kit may just be the most noticeable mod you make for your race bike.</p>
  		</div> <!-- column -->

    </div> <!-- info row -->
  </div> <!-- info row -->
</section> <!-- container -->




<section class="row text-center py-5">
	<div class="container">
		<h2>See our full range of products</h2>
    <%= link_to "Go to Store", main_app.spree_path, class: "btn cta" %>
	</div> <!-- container -->
</section> <!-- row -->


<% if @latest_blog %>
  <section class="row py-5 background-white shadow-top bottom-shadow">
  	<div class="container">
  		<h2 class="text-center"><%= @latest_blog.title %></h2>
      <%= @latest_blog.body.html_safe %>
      <div class="text-center">
        <%= link_to "More from the Blog", blogs_path, class: "btn cta" %>
      </div>
  	</div> <!-- container -->
  </section> <!-- row -->
<% end %>






<% if @videos != [] %>
  <section class="row py-5 ">
  	<div class="container">
      <h2 class="text-center pb-3">Videos</h2>
      <div class="row">
        <% @videos.each do |video| %>
          <div class="col-sm-6 col-md-4 video-grid">
            <%= video.video_url.html_safe %>
          </div> <!-- col -->
        <% end %>
      </div> <!-- row -->
  	</div> <!-- container -->
  </section> <!-- row -->
<% end %>




<section class="row py-5 background-white shadow-top bottom-shadow">
	<div class="container">
		<h2 class="text-center pb-4">From the 'Gram</h2>

    <!-- Place <div> tag where you want the feed to appear -->
    <div id="curator-feed-aloop-offroad-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
    <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
    <script type="text/javascript">
    /* curator-feed-aloop-offroad-layout */
    (function(){
    var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
    i.src = "https://cdn.curator.io/published/65414202-ebc8-4b03-90ae-5b54dab3ee4d.js";
    e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
    })();
    </script>

	</div> <!-- container -->
</section> <!-- row -->
