<div class="menu-buffer"></div>


<header class="pb-3 text-center container">
	<p class="text-right" style="padding: 10px 20px 0 0"><%= link_to "Back to Messsages Page", contacts_path %></p>
  <h1 class="text-center"> New Message
    <% if @contact.first_name && @contact.last_name %>
      from <%= @contact.first_name %> <%= @contact.last_name %>
    <% elsif @contact.company_name %>
      from <%= @contact.company_name %>
    <% end %>
  </h1>
</header>  <!-- center text no bg -->



<section class="shadow-top background-white py-5">

  <div class="container">

    <div class="row">
      <div class="col-sm-10 col-sm-push-1">

        <% if @contact.phone != "" %>
          <p class="mb-0"><strong>Phone: </strong> <%= phone_number_link @contact.phone %></p>
        <% end %>

        <% if @contact.email %>
          <p class="mb-0"><strong>Email: </strong><%= mail_to @contact.email %></p>
        <% end %>

        <p class="mb-0"><strong>Preferred Contact Method: </strong> <%= @contact.preferred_contact_method %></p>

        <hr>

        <p><%= @contact.message %></p>

      </div> <!-- column -->
    </div> <!-- body row -->
  </div> <!-- page container -->
</section>


<section class="py-4 text-center">
  <%= link_to "Messages Homepage", contacts_path, class: "btn cta" %>
</section>
