<nav id="custom-nav" class="navbar navbar-expand-md navbar-dark static-top" style="
    font-size: 18px !important;
    font-weight: 900;
    text-transform: uppercase;
    border-top: solid 10px rgba(0,0,0,.5);
    border-bottom: solid 10px rgba(0,0,0,.5);
    background-clip: content-box;
    padding: 5px 0 5px 0;
    background-color: rgba(0,0,0,.5);
    margin-bottom: 10px;
    margin-top: 40px;">
  <div class="container">
    <%= link_to main_app.root_path, class: "navbar-brand" do %>
      <%= image_tag "masterlogoSQ.png", style: "margin: -50px 0 0 20px; height: 120px" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to "Kits", main_app.home_kits_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Gallery", main_app.photos_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Store", main_app.spree_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Info", main_app.home_info_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Export", main_app.home_export_path, class: "nav-link" %></li>
        <% if current_spree_user && current_spree_user.admin? %>
          <li class="nav-item"><%= link_to "Messages", main_app.contacts_path, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Contact", main_app.new_contact_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
