<div id="mySidenav" class="sidenav">

<div class="barred-a">
  <h2>The Blog</h2>
  <%= link_to "+ New Blog", new_blog_path %>
  <%= link_to "Blog Manager", admin_blogs_path %>
  <%= link_to "Subcategories", admin_subcategories_path %>
  <%= link_to "Resource Manager", admin_resources_path %>
  <%= link_to "Subscribers", admin_subscribers_path %>
</div>

<div class="barred-a">
  <h2 style="padding-top: 30px">Admin</h2>
  <%= link_to "Store Backend", spree.admin_path %>
  <%= link_to "Messages", main_app.contacts_path %>
</div>

<div class="barred-a">
  <h2 style="padding-top: 30px">My Info</h2>
  <%= link_to "My Author Info", admin_blogs_path(anchor: "author") %>
</div>


</div>
