<!DOCTYPE html>
<html>
  <head>
    <title>Aloop Offroad</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,900" rel="stylesheet">
  </head>

  <body>

    <%= render "layouts/sidenav" %>
    <%= image_tag "metal_footer_background.jpg", class: "bg" %>

    <%= render "layouts/navbar" %>
    <%= render "layouts/notifications" %>

    <% if current_spree_user && current_spree_user.admin? %>
      <div onclick="openNav()" style="position: absolute; z-index: 99999; color: red; margin-top: 65px; margin-left: 20px; font-size: 30px" >
        ☰
      </div>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>


    <script>
      function openNav() {
          var e = document.getElementById("mySidenav");
          if (e.style.width == '250px')
          { e.style.width = '0px'; }
          else
          { e.style.width = '250px'; }
      }

      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
      }
    </script>

    <script>
      // ALERT setTimeout(function
      $(document).ready(function(){
        setTimeout(function(){
          $('.flash-notice-area').fadeOut('slow');
        }, 5000);
      })
    </script>

  </body>
</html>
